/* 调整布局最大宽度 */
:root {
  --vp-layout-max-width: 100%; /* 默认是 1440px */
}

/* 调整侧边栏宽度 */
.VPSidebar {
  width: 300px !important; /* 默认约 272px */
}

/* 调整内容区域宽度 */
.VPDoc.has-aside .content-container {
  max-width: 100% !important; /* 默认是 688px */
}
